.dashboard {
  display: flex;
  flex-direction: row;
}

.view,
.sidebar {
  display: flex;
  flex-direction: column;
}
.view {
  width: 100%;
  min-height: 100vh;
}
.sidebar {
  background-color: green;
  padding: 5px;
}
.sidebar button {
  border-radius: 3px;
}
.sidebar button:hover {
  background-color: blue;
}
