:root {
    --color-primary : #2ECC71;
    --color-secondary: #F3F3F3;
    --text-color-primary: #F3F3F3;
    --text-color-secondary: ##A9A9A9;
    --bg-primary: #03010B;
    --color-UI: #E41919;
}

html{
    scroll-behavior: smooth;
}

body{
    scroll-behavior: smooth;
}

.bg-primary{
    background: var(--bg-primary);
}

.text-primary{
    color: var(--text-color-primary)
}

.bgr-white{
    background: white;
}

.h-full{
    height: 95vh;
}
.text-green {
    color: var(--color-primary);
}
.color-secondary{
    color: var(--color-secondary);
}

.btn-primary{
    background: var(--color-primary);
}

.text-cl-none{
    color: var(--text-color-primary);
}

.text-cl-none:hover{
    color: var(--text-color-primary);
}

.text-ut{
    color: var(--color-UI);
}

.btn-secondary{
    color: var(--color-primary);
    background: var(--color-secondary);
}

.btn-secondary:hover{
    color: var(--color-primary);
}

.border-green:hover{
    border: 1px solid var(--color-primary);
}

.trans{
    transition: all .3s;
}

.text-trans:hover {
    color: var(--color-primary);
}

.text-pri:hover{
    color: var(--text-color-primary);
}

.text-col-secondary{
    color: var(--text-color-secondary);
}

.bg-secondary{
    background: var(--color-secondary);
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features{
    background: var(--color-secondary);
}

.bg-green{
    background: var(--color-primary);;
}

.border-top{
    border-top: 1px solid var(--text-color-primary);
}

@media only screen and (max-width: 640px){
   .d-none{
       display: none;
   }
}

@media only screen and (max-width: 768px){
    .width-norm{width: 66.666667%; margin-left: 3rem; margin-right: 3rem;}
}

@media only screen and (max-width: 1024px){
    .width-norm{width: 50.666667%;}
    .d-none{
        display: none;
    }

    .wi-full{
        width: 100rem;
        padding-bottom: 5rem;
    }

    .center-text{
        text-align: center;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 640px){
    .width-norm{width: 100%; margin-left: 3rem; margin-right: 3rem;}
}