:root {
    --color-primary : #2ECC71;
    --color-secondary: #F3F3F3;
    --text-color-primary: #F3F3F3;
    --text-color-secondary: ##A9A9A9;
    --bg-primary: #03010B;
    --color-UI: #E41919;
}

.bg-primary{
    background: var(--bg-primary);
}

.text-primary{
    color: var(--text-color-primary)
}

.h-full{
    height: 95vh;
}

.color-secondary{
    color: var(--color-secondary);
}

.btn-primary{
    background: var(--color-primary);
}

.text-cl-none{
    color: var(--text-color-primary);
}

.text-cl-none:hover{
    color: var(--text-color-primary);
}

.text-ut{
    color: var(--color-UI);
}

.btn-secondary{
    color: var(--color-primary);
    background: var(--color-secondary);
}

.btn-secondary:hover{
    color: var(--color-primary);
}